meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
title Cedar House
base(href="/")

link(rel="shortcut icon", href="images/index.ico")
link(rel="stylesheet", href="css/bootstrap.min.css", type="text/css")
link(rel="stylesheet", href="css/style.css", type="text/css")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
link(rel="stylesheet", type="text/css", href="css/bootstrap-material-datetimepicker.css")

script(type="text/javascript", src="js/jquery-3.1.1.min.js")
script(type="application/javascript", src="js/moment-with-locales.js")
script(type="text/javascript", src="js/bootstrap.min.js")
script(type="application/javascript", src="js/bootstrap-material-datetimepicker.js")
script(type="text/javascript", src="js/defaults.js")
