.col-md-12
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        button(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false").navbar-toggle.collapsed
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href="#").navbar-brand
          img(src="images/logo.png", alt="Cedar House").img-responsive

      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        ul.nav.navbar-nav.navbar-right
          li
            a(href="#") Home
          li
            a(href="#") News
          li
            a(href="#") About Us
          li
            a(href="#") Contact Us
