doctype html
html(lang="en")
  head
    include ../../_html/_head/_init.pug
  body
    .container-fluid
      .row
        include ../../_html/_body/_nav.pug

      .row.flex-items-md-center
        .container
          .row.flex-items-md-center.content
            .col-md-12
              .card.main
                .card-block
                  h3.card-title Logged out, you will be redirected in 3 seconds...

    footer.footer
      include ../../_html/_body/_footer.pug
      script(type="application/javascript", src="js/default.js")
      script(type="application/javascript", src="js/logout.js")
