.navbar-brand {
  padding: 10px; }

.navbar-brand img {
  height: 30px; }

.nav.navbar-nav {
  height: 52px; }
  .nav.navbar-nav .nav-item {
    height: 52px; }
    .nav.navbar-nav .nav-item .nav-link {
      height: 52px;
      line-height: 36px; }
