script(type="text/javascript", src="js/user/loanDevice.js")
script(type="text/javascript", src="js/user/getUsers.js")
script(type="text/javascript", src="js/user/getDevices.js")
script(type="text/javascript", src="js/user/auth.js")
script(type="text/javascript", src="js/user/addUser.js")
script(type="text/javascript", src="js/user/deleteUser.js")
