script(type="text/javascript", src="js/classes/getClasses.js")
script(type="text/javascript", src="js/user/getUsers.js")
script(type="text/javascript", src="js/user/getTypes.js")
script(type="text/javascript", src="js/device/getReservations.js")
script(type="text/javascript", src="js/device/getDevices.js")
script(type="text/javascript", src="js/user/auth.js")
script(type="text/javascript", src="js/user/addUser.js")
script(type="text/javascript", src="js/user/deleteUser.js")
script(type="text/javascript", src="js/device/addDevice.js")
script(type="text/javascript", src="js/device/returnDevice.js")
script(type="text/javascript", src="js/device/addReservation.js")
script(type="text/javascript", src="js/device/deleteReservation.js")
script(type="text/javascript", src="js/user/setPrivilege.js")
script(type="text/javascript", src="js/user/revokePrivilege.js")
