doctype html
html(lang="en")
  head
    include ../_html/_head/_init.pug

    link(rel="stylesheet", type="text/css", href="css/font-awesome.min.css")
  body
    .container-fluid
      .row
        .col-md-12
          nav.navbar.navbar-light.bg-faded
            button(type="button", data-toggle="collapse", data-target="#navbarResponsive", aria-controls="navbarResponsive", aria-expanded="false", aria-label="Toggle navigation").navbar-toggler.hidden-lg-up
            .collapse.navbar-toggleable-md#navbarResponsive
              a(href="#").navbar-brand
                img(src="images/logo.png", alt="Cedar House")

              ul.nav.navbar-nav.float-lg-right
                li.nav-item.admin
                  a(href="/config", title="Configuration").nav-link
                    i.fa.fa-cog.fa-lg
                li.nav-item
                  a(href="/user/logout", title="Log Out").nav-link
                    i.fa.fa-sign-out.fa-lg

      .row.flex-items-md-center
        .container
          .row.flex-items-md-center
            .col-md-10
              .row.flex-items-md-center.content
                .col-md-12
                  ol.breadcrumb
                    li.breadcrumb-item.active Home
                  .card.main.text-md-center
                    .card-block
                      h3.card-title Welcome&nbsp;
                        span.user-name {First Name}
                      .loading
                        img(src="images/balls.gif", alt="loading").img-fluid
                        //- i.fa.fa-circle-o-notch.fa-spin.fa-3x.fa-fw
                        //- span.sr-only Loading...
                      .row.flex-items-md-around
                        .col-md-8
                          .row.flex-items-md-around.student-available-devices
                            .col-md-8
                              p
                                strong Available devices:
                              form(method="POST").form-inline#available-devices
                                .form-group
                                  select(name="available-devices").form-control.available-devices
                                button(type="submit").btn.btn-success Rent Device
                          .row.student
                            .col-md-12
                              button(type="button", data-toggle="modal", data-target="#returnDevice-m1").btn.btn-primary.btn-block#returnBtn-1 Return Device

                              div(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.fade#returnDevice-m1
                                div(role="document").modal-dialog
                                  .modal-content
                                    .modal-header
                                      button(type="button", data-dismiss="modal", aria-label="Close").close
                                        span(aria-hidden="true") &times;
                                      h4.modal-title Return a device
                                    .modal-body
                                      .loading
                                        img(src="images/balls.gif", alt="loading").img-fluid
                                      form(method="POST")#returnDevice-f1
                                        .form-group
                                          select(name="device_id").form-control
                                        .form-group
                                          button(type="submit").btn.btn-success Return
                                    .modal-footer
                                      button(type="button", data-dismiss="modal").btn.btn-default Close

                      .row.teacher.admin
                        .col-md-4.options.landing-user-management
                          a(href="/user/management/?page=user")
                            .card.card-block.text-md-center
                              i.fa.fa-user.fa-5x
                              h6 User Management

                        .col-md-4.options.landing-device-management
                          a(href="/user/management/?page=device")
                            .card.card-block.text-md-center
                              i.fa.fa-laptop.fa-5x
                              h6 Device Management

                        .col-md-4.options.landing-reservation-management
                          a(href="/user/management/?page=reservation")
                            .card.card-block.text-md-center
                              i.fa.fa-calendar.fa-5x
                              h6 Reservation Management

                      .row.admin
                        .offset-md-4.col-md-4.options.landing-class-management
                          a(href="/user/management/?page=class")
                            .card.card-block.text-md-center
                              i.fa.fa-book.fa-5x
                              h6 Class Management

    footer.footer
      include ../_html/_body/_footer.pug
      script(type="application/javascript", src="js/default.js")
      script(type="application/javascript", src="js/user.js")
