script(type="text/javascript", src="/cedar/js/user/getUsers.js")
script(type="text/javascript", src="/cedar/js/user/auth.js")
script(type="text/javascript", src="/cedar/js/user/addUser.js")
script(type="text/javascript", src="/cedar/js/user/deleteUser.js")
