script(type="application/javascript", src="/cedar/js/qrcode/grid.js")
script(type="application/javascript", src="/cedar/js/qrcode/version.js")
script(type="application/javascript", src="/cedar/js/qrcode/detector.js")
script(type="application/javascript", src="/cedar/js/qrcode/formatinf.js")
script(type="application/javascript", src="/cedar/js/qrcode/errorlevel.js")
script(type="application/javascript", src="/cedar/js/qrcode/bitmat.js")
script(type="application/javascript", src="/cedar/js/qrcode/datablock.js")
script(type="application/javascript", src="/cedar/js/qrcode/bmparser.js")
script(type="application/javascript", src="/cedar/js/qrcode/datamask.js")
script(type="application/javascript", src="/cedar/js/qrcode/rsdecoder.js")
script(type="application/javascript", src="/cedar/js/qrcode/gf256poly.js")
script(type="application/javascript", src="/cedar/js/qrcode/gf256.js")
script(type="application/javascript", src="/cedar/js/qrcode/decoder.js")
script(type="application/javascript", src="/cedar/js/qrcode/qrcode.js")
script(type="application/javascript", src="/cedar/js/qrcode/findpat.js")
script(type="application/javascript", src="/cedar/js/qrcode/alignpat.js")
script(type="application/javascript", src="/cedar/js/qrcode/databr.js")
