doctype html
html(lang="en")
  head
    include html/head/head_default_init.pug
    include html/head/2_head_js.pug

    link(rel="stylesheet", type="text/css", href="css/user.css")

  body
    .container-fluid
      .row
        .col-md-12
          nav.navbar.navbar-default
            .container-fluid
              .navbar-header
                button(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false").navbar-toggle.collapsed
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a(href="#").navbar-brand
                  img(src="images/logo.png", alt="Cedar House").img-responsive

              .collapse.navbar-collapse#bs-example-navbar-collapse-1
                ul.nav.navbar-nav.navbar-right
                  li
                    a(href="#") Home
                  li
                    a(href="#") News
                  li
                    a(href="#") About Us
                  li
                    a(href="#") Contact Us
                  li
                    a(href="user/logout") Logout

        .col-md-12
          .row
            .col-md-offset-1.col-md-10
              .content
                .loading
                  img(src="images/balls.gif", alt="loading")
                .panel.panel-default.users
                  .panel-heading
                    h3.panel-title.text-center Users
                  .panel-body
                    .status
                      button(id="addUserBut", type="button", data-toggle="modal", data-target="#addUser").btn.btn-success.pull-right Add a user

                      div(id="addUser", tabindex="-1", role="dialog", aria-labelledby="addUserModal", aria-hidden="true").modal.fade
                        div(role="document").modal-dialog
                          .modal-content
                            .modal-header Add an user
                              button(type="button", data-dismiss="modal", aria-label="close").close
                                span(aria-hidden="true") &times;
                            .modal-body
                              form(id="add", method="post")
                                .form-group
                                  label(for="inputFname") First Name:
                                  input(id="inputFname", type="text", name="fname", placeholder="Peter", required).form-control
                                .form-group
                                  label(for="inputLname") Last Name:
                                  input(id="inputLname", type="text", name="lname", placeholder="Pan", required).form-control
                                .form-group
                                  label(for="inputEmail") Email:
                                  input(id="inputEmail", type="email", name="email", placeholder="peter.pan123@gmail.com", required).form-control
                                .form-group
                                  label(for="inputType") User Type:
                                  select(name="type").form-control
                                    option(value="student") Student
                                    option(value="teacher") Teacher
                                    option(value="admin") Admin
                                .form-group
                                  label(for="inputPass1") Enter Password:
                                  input(id="inputPass1", name="pass1", type="password", required).form-control
                                .form-group
                                  label(for="inputPass2") Confirm Password:
                                  input(id="inputPass2", name="pass2", type="password", required).form-control
                                .form-group
                                  button(type="submit").pull-right.btn.btn-success Add User
                                .form-group
                                  hr
                            .modal-footer
                              button(type="button", data-dismiss="modal").btn.btn-default Close

                    table.table.table-striped.users-table
                      thead
                        th ID
                        th Full Name
                        th Email
                        th Account Type
                        th.text-center Options
                      tbody


                .panel.panel-default.devices
                  .panel-heading
                    h3.panel-title.text-center Devices
                  .panel-body
                    button(id="addDeviceBut", type="button", data-toggle="modal", data-target="#addDevice").btn.btn-primary.pull-right Add a Device

                    div(id="addDevice", tabindex="-1", role="dialog", aria-labelledby="addDeviceModal", aria-hidden="true").modal.fade
                      div(role="document").modal-dialog
                        .modal-content
                          .modal-header Add a Device
                            button(type="button", data-dismiss="modal", aria-hidden="true").close
                              span(aria-hidden="true") &times;
                          .modal-body
                            form(id="add", method="post")
                              .form-group
                                label(for="inputSerial") Serial Number:
                                input(id="inputSerial", type="text", name="serial_no", placeholder="walalalala", required).form-control
                              .form-group
                                label(for="inputType") Device Type:
                                input(id="inputType", type="text", name="type", placeholder="mac", required).form-control
                              .form-group
                                label(for="inputActive") Is the device active:
                                .radio
                                  label
                                    input(type="radio", name="is_active", value="true")
                                    | Is Active
                                .radio
                                  label
                                    input(type="radio", name="is_active", value="false")
                                    | Not Active
                              .form-group
                                button(type="submit").btn.btn-success.pull-right Add Device
                                hr
                          .modal-footer
                            button(type="button", data-dismiss="modal").btn.btn-default Close

                    table.table.table-striped.available-devices
                      thead
                        th Device Name
                        th Type
                        th.text-center Options
                      tbody

              include html/body/default_body_and_footer.pug
