doctype html
html(lang="en")
  head
    include _html/_head/_init.pug
  body
    .container-fluid
      .row
        include _html/_body/_nav.pug

      .row.flex-items-md-center
        .container
          .row.flex-items-md-center.content
            .col-md-8
              .card.main.text-xs-center.login
                .card-block
                  h4.card-title Present your QR code
                  .loading
                    img(src="images/balls.gif", alt="loading").img-fluid
                  .row.flex-items-md-center
                    .col-md-10
                      .thumbnail.embed-responsive.embed-responsive-4by3#camera
                      //- #qrStatus
                      //-   p No QR Code in sight.

    footer.footer
      include _html/_body/_footer.pug
      script(type="application/javascript", src="js/default.js")
      script(type="application/javascript", src="js/qr.js")
      script(type="application/javascript", src="js/login.js")
