doctype html
html(lang="en")
  head
    include ../_html/_head/_init.pug
  body
    .container-fluid
      .row
        include ../_html/_body/_nav.pug

      .row
        .container
          .row.flex-items-md-center
            .col-md-10
              .row.flex-items-md-center
                .col-md-8
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href="/user") Home
                    li.breadcrumb-item.active Configuration
                  .card.main
                    .card-block
                      h4.card-title Configuration
                      .loading
                        img(src="images/balls.gif", alt="loading").img-fluid
                      form(method="post").configuration
                        .form-group
                          label(for="inputProtocol") Protocol:
                          input(type="text", name="protocol", placeholder="http").form-control
                        .form-group
                          label(for="inputHost") Host:
                          input(type="text", name="host", placeholder="steve.zanity.net").form-control
                        .form-group
                          label(for="inputPort") Port:
                          input(type="text", name="port", placeholder="53455").form-control
                        .form-group
                          label(for="inputPort") Base Directory:
                          input(type="text", name="base", placeholder="/home/troopy712139/NetBeansProjects/link-server/web").form-control
                        input(type="submit").btn.btn-success

    footer.footer
      include ../_html/_body/_footer.pug
      script(type="application/javascript", src="js/default.js")
      script(type="application/javascript", src="js/config.js")
