doctype html
html(lang="en")
  head
    include ../_html/_head/_head_default_init.pug

    link(rel="stylesheet", type="text/css", href="css/config.css")

    script(type="application/javascript", src="js/config/config.js")
  body
    .container-fluid
      .row
        .col-md-12
          nav.navbar.navbar-default
            .container-fluid
              .navbar-header
                button(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false").navbar-toggle.collapsed
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a(href="#").navbar-brand
                  img(src="images/logo.png", alt="Cedar House").img-responsive

              .collapse.navbar-collapse#bs-example-navbar-collapse-1
                ul.nav.navbar-nav.navbar-right
                  li
                    a(href="user") Back
                  li
                    a(href="user/logout", alt="Logout")
                      span.glyphicon.glyphicon-log-out

      .row
        .col-md-offset-1.col-md-10
          .content
            .loading
              img(src="images/balls.gif", alt="loading").img-responsive
            .panel.panel-default
              .panel-heading
                h3.panel-title Configuration
              .panel-body.config
                form(method="post").configuration
                  .form-group
                    label(for="inputProtocol") Protocol:
                    input(type="text", name="protocol", placeholder="http").form-control
                  .form-group
                    label(for="inputHost") Host:
                    input(type="text", name="host", placeholder="steve.zanity.net").form-control
                  .form-group
                    label(for="inputPort") Port:
                    input(type="text", name="port", placeholder="53455").form-control
                  .form-group
                    label(for="inputPort") Base Directory:
                    input(type="text", name="base", placeholder="/home/troopy712139/NetBeansProjects/link-server/web").form-control
                  input(type="submit").btn.btn-success


          include ../_html/_body/_default_body_and_footer.pug
