.col-md-12
  nav.navbar.navbar-light.bg-faded
    button(type="button", data-toggle="collapse", data-target="#navbarResponsive", aria-controls="navbarResponsive", aria-expanded="false", aria-label="Toggle navigation").navbar-toggler.hidden-lg-up
    .collapse.navbar-toggleable-md#navbarResponsive
      a(href="#").navbar-brand
        img(src="images/logo.png", alt="Cedar House")
